*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Header Background */


.header-bg{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}


.h-m-section{
    padding-top: 150px;
    text-align: right;
    margin-right: 230px;
    
}

.header-title{
    padding-top: 20px;
    font-weight: 800;
    font-size: 50px;
    color: #151414;
}
.header-description{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #444343;
}

.header-btn{
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    padding: 21px 25px 20px 26px;
}